* {
  font-family: "poppins";
}
.container {
  max-width: 1920px !important;
}

/* a:hover {
  text-decoration: underline;
} */

.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #e9e9e9;
}

.act {
  background-color: #717ae0;
}

.choose-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.zeffect {
  background: transparent;
  transition: transform .2s;
}

.zeffect:hover {
  /* background: ; */
  background: url(/img/price.png)no-repeat center bottom/100%,#6f77f1;
  scale: 1.05;
  color: white;
}


.buttonhover:hover {
  background-color: #fff200 !important;
  color: black !important;
}

.hover-card::after {
  content: "";
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid #717ae0 !important;
  transform: scaleX(0);
}

.hover-card:hover::after {
  transform: scaleX(1);
}

.hover-icon:hover {
  color: #6f77f1 !important;
  cursor: pointer;
}

.team-card:hover {
  color: #6f77f1;
}

@media (min-width: 0px) {
  .width {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .width {
    width: 30%;
  }
}



/* nav hover */
.navbar-items {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.navbar-items::after {
  content: '';
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6f77f1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-items:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*  */


    
    .swiper-slide {
      padding: 5px;
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }

    .swiper-slide img {
      display: block;

      object-fit: cover;
    }
